a:link {
    color: #72c100;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.Product-area {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.Basket-area {
    flex-basis: 260px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right-style: solid;
    border-color: #72c100;
}

.Basket-title {
    background-color: #72c100;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.Basket-total-price {
    color: #c1af00;
    width: 230px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top-style: solid;
    border-color: white;
    border-width: 1px;
    margin: auto;
}

.Buy-basket {
    background-color: #282c34;
    color: white;
    width: 220px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    border-color: #72c100;
    margin-left: 20px;
}

.Buy-basket:hover,
.Buy-basket:active {
    background-color: #72c100;
    color: black;
}