.menu-title {
    background-color: #6bb36b;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.menu-content {
    padding: 5px;
}

.menu-button {
    background-color: transparent;
    width: 220px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    border-color: #6bb36b;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menu-button:hover,
.menu-button:active {
    background-color: #6bb36b;
}

#logout {
    border-color: #b4a200;
}

#logout:hover,
#logout:active {
    background-color: #b4a200;
}