.cart-area {
    width: 260px;
    float: left;
}

.cart-title {
    background-color: #b4a200;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.cart-total {
    width: 230px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-top-style: solid;
    border-color: #b4a200;
    border-width: 1px;
    margin: auto;
}

.remove-all-from-cart {
    background-color: #c1af00;
    height: 30px;
    color: black;
    padding: 5px;
    float: right;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.remove-all-from-cart:hover,
.remove-all-from-cart:active {
    color: white;
}

.cart-total-price {
    color: #c1af00;
    text-align: center;
}

.buy-cart {
    background-color: transparent;
    width: 220px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    border-color: #b4a200;
    margin-left: 20px;
    margin-bottom: 20px;
}

.buy-cart:hover,
.buy-cart:active {
    background-color: #b4a200;
    color: black;
}