.product-area {
    padding: 10px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}