.shopping-cart-amount {
    background-color: #fff599;
    min-width: 65px;
    height: 40px;
    float: right;
    margin-top: -45px;
    margin-right: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 20px 5px 5px 20px;
    line-height: 40px;
    padding-left: 5px;
}

.to-shopping-cart {
    background-color: #fff599;
    height: 40px;
    width: 50px;
    padding: 5px;
    float: right;
    border-radius: 0px 5px 5px 0px;
}

.shopping-cart-svg {
    stroke: black;
    stroke-width: 3;
    fill: transparent;
}

.shopping-cart-svg:hover,
.shopping-cart-svg:active {
    stroke: #b4a200;
}

.cart-item {
    padding: 5px;
}

.cart-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
    border-bottom-style: solid;
    border-color: #b4a200;
    border-width: 1px;
}

.cart-price {
    color: #000000;
    padding: 10px;
}

.cart-total {
    width: 230px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-top-style: solid;
    border-color: #b4a200;
    border-width: 1px;
    margin: auto;
}

.cart-total-price {
    color: #000000;
    text-align: center;
}