.cart-item {
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
    border-bottom-style: solid;
    border-color: #b4a200;
    border-width: 1px;
}

.price-and-details {
    color: #b4a200;
}

.remove-from-cart {
    background-color: #c1af00;
    height: 30px;
    width: 30px;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.remove-from-cart:hover,
.remove-from-cart:active {
    color: white;
}